<footer>
  <div class="site-footer text-center text-white">
    <div class="container">

      {# footer social fontawesome #}
      <div class="social-footer">
        <ul class="list-unstyled social">
          <li class="social-items">
            <a href="{{social.facebook}}" target="_blank"
              ><i class="fab fa-facebook fa-4x"></i
            ></a>
          </li>
          <li class="social-items">
            <a href="{{social.twitter}}" target="_blank"
              ><i class="fab fa-twitter fa-4x"></i
            ></a>
          </li>
          <li class="social-items">
            <a href="{{social.instagram}}" target="_blank"
              ><i class="fab fa-instagram fa-4x"></i
            ></a>
          </li>
        </ul>
      </div>
      {# fin footer social fontawesome #}

      {# mention légales #}
      <div class="col-lg-12 pt-3">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a class="text-white" href="{{site.mentions}}">Mentions Légales</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a class="text-white" href="{{site.cdv}}">Conditions générales de vente</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {# Fin mentions légales #}

      {# Copyright #}
      <div class="pb-1">
        <p>&copy; {{site.annee}} - tous drois réservés | site créé par <a href="{{social.perso}}" class="text-white fw-bold" target="_blank">{{site.sitePerso}}</a></p>
      </div>
      {# fin copyright #}
    </div>
  </div>
</footer>