<header>
  <nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../img/logo.jpg" class="logo" alt="logo Charles Cantin">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link {{index}}" aria-current="page" href="/">Accueil</a>
          <a class="nav-link {{galerie}}" href="/galerie">Galerie</a>
          <a class="nav-link {{prestations}}" href="/prestations">Prestations</a>
          <a class="nav-link {{contact}}" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>