<header>
  <nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../imgs/logo.jpg" class="logo" alt="logo Charles Cantin">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{index}}" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{gal}}" href="/galerie">Galerie</a>
          </li>
          <li class="n">
            <a class="nav-link {{prestations}}" href="/prestations">Prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{contact}}" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>