---
title: galerie
layout: layout.njk
gal: active
---

<h1>Ma galerie</h1>

<div class="container">

  <ul class="filtres">
    <li id="*">Toutes les catégories</li>
    <li id="mariage">Mariage</li>
    <li id="grossesse">Grossesse</li>
    <li id="bebe">Bébé</li>
    <li id="famille">Famille</li>
    <li id="bapteme">Baptême</li>
    <li id="couple">Couple</li>
  </ul>

  <div class="gallery d-flex flex-wrap align-items-center justify-content-center">
    <img src="../img/grossesse3.jpg" alt="grossesse" data-grossesse class="active rounded m-2">
    <img src="../img/bebe1.jpg" alt="bebe" data-bebe class="active rounded m-2">
    <img src="../img/mariage3.jpg" alt="mariage" data-mariage class="active rounded m-2">
    <img src="../img/bapteme4.jpg" alt="bapteme" data-bapteme class="active rounded m-2">
    <img src="../img/grossesse2.jpg" alt="grossesse" data-grossesse data-famille class="active rounded m-2">
    <img src="../img/mariage4.jpg" alt="mariage" data-mariage class="active rounded m-2">
    <img src="../img/famille3.jpg" alt="famille" data-famille class="active rounded m-2">
    <img src="../img/bebe2.jpg" alt="bebe" data-bebe class="active rounded m-2">
    <img src="../img/famille4.jpg" alt="famille" data-famille data-bebe class="active rounded m-2">
    <img src="../img/couple4.jpg" alt="couple" data-couple class="active rounded m-2">
    <img src="../img/bapteme2.jpg" alt="bapteme" data-bapteme class="active rounded m-2">
    <img src="../img/couple3.jpg" alt="couple" data-couple class="active rounded m-2">
    <img src="../img/bebe4.jpg" alt="bebe" data-bebe class="active rounded m-2">
    <img src="../img/couple2.jpg" alt="couple" data-couple class="active rounded m-2">
    <img src="../img/bapteme1.jpg" alt="bapteme" data-bapteme class="active rounded m-2">
    <img src="../img/mariage1.jpg" alt="mariage" data-mariage class="active rounded m-2">
    <img src="../img/famille1.jpg" alt="famille" data-famille class="active rounded m-2">
    <img src="../img/grossesse1.jpg" alt="grossesse" data-grossesse class="active rounded m-2">
    <img src="../img/grossesse4.jpg" alt="grossesse" data-grossesse class="active rounded m-2">
    <img src="../img/famille2.jpg" alt="famille" data-famille class="active rounded m-2">
    <img src="../img/bebe3.jpg" alt="bebe" data-bebe class="active rounded m-2">
    <img src="../img/mariage2.jpg" alt="mariage" data-mariage class="active rounded m-2">
    <img src="../img/bapteme3.jpg" alt="bapteme" data-bapteme class="active rounded m-2">
    <img src="../img/couple1.jpg" alt="couple" data-couple class="active rounded m-2">
  </div>

</div>
