---
title: accueil
layout: layout.njk
description: Charles Cantin - Photographe
index: active
---

<div class="accueil">
  <h1 id="titre">{{description}}</h1>
</div>
<div class="about">
  <h3 class="center">A propos de</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam enim natus rem consectetur, ad, omnis sint ut sunt assumenda tenetur aspernatur nam. Aliquam doloremque dolor natus fuga ut error labore.
  Quia modi rem, dolor excepturi, provident natus laborum ullam omnis adipisci nesciunt hic officia non corrupti recusandae. Sapiente inventore a minus aperiam eaque, similique ex, ducimus accusantium animi consequuntur facere?
  Eligendi architecto enim nihil mollitia dolor numquam commodi esse deserunt veritatis quos cupiditate unde, beatae perspiciatis tempore minus fuga aut deleniti dolore animi vero! Est minima eos laudantium quod saepe!
  Saepe dolorum a tenetur nemo nobis, harum mollitia neque ab laborum nostrum optio modi hic temporibus est, dolorem aperiam placeat voluptas cum. Perferendis atque repellat cumque mollitia dolor similique laborum!
  Quam, non. Fuga sint harum officia cumque eius provident enim saepe, quos laborum dolorum dolorem. Molestiae voluptas recusandae, possimus iure, sequi soluta neque temporibus magnam non pariatur necessitatibus ex corrupti!</p>
</div>