---
title: Tarifs et prestations
layout: layout.njk
prestations: active
---

<h1>{{title}}</h1>

<div class="cartes">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">« Juste moi »</h5>
      <div class="card-desc">
        <p class="card-text">Séance pour une personne, en extérieur ou en studio</p>
        <a href="#" class="btn btn-secondary">130 €</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">« Pour deux »</h5>
      <p class="card-text">Pour deux personnes, en extérieur ou en studio</p>
      <a href="#" class="btn btn-secondary">195 €</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">« Famille »</h5>
      <p class="card-text">Pour la famille ou les amis jusqu’à 4 personnes, en extérieur ou en studio
        30 euros en supplément par personne au-delà de 4 (hormis enfant jusqu’à 2 ans)</p>
      <a href="#" class="btn btn-secondary">220 €</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">« Il était une fois »</h5>
      <p class="card-text">Photo de grossesse <br> (à votre domicile, en extérieur ou en studio)</p>
      <a href="#" class="btn btn-secondary">160 €</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">« Mon bébé »</h5>
      <p class="card-text">Photo d’enfant jusqu’à 3 ans (photo à domicile)</p>
      <a href="#" class="btn btn-secondary">100 €</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">« J’immortalise l’événement »</h5>
      <p class="card-text">Prestation de mariage ou baptême sur devis</p>
      <a href="#" class="btn btn-secondary">sur mesure</a>
    </div>
  </div>
</div>