---
title: Tarifs et prestations
layout: layout.njk
prestations: active
---

<h1>{{title}}</h1>

<div class="cartes">

  {% for post in collections.posts %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{post.data.title}}</h5>
      <div class="card-desc">
        <p class="card-text">{{post.data.description}}</p>
        <a href="#" class="btn btn-secondary">{{post.data.price}}</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>